// #include "mpc_interface.h"
import "C"
import "unsafe"

func MpcaLang(language string, parsers ...MpcParser) {
	cLanguage := C.CString(language)
	defer C.free(unsafe.Pointer(cLanguage))
	C.mpca_lang_if(C.MPCA_LANG_DEFAULT, cLanguage,
    parsers[0], parsers[1], parsers[2], parsers[3],
    parsers[4], parsers[5], parsers[6], parsers[7])
}
